header {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: smaller;
  background-color: #24488E;

  .search-cart {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .cart {
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;

      svg {
        width: 3em;
        height: auto;
        margin-right: 15%;
      }
    }

    .logout {
      cursor: pointer;
      width: 3em;
      height: auto;
    }

    img {
      width: 4em;
      height: auto;
    }

    input {
      width: 40%;
      padding: 1%;
      border: none;
      border-radius: 5px;
    }
  }

  .header-infos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .name {
      display: flex;
      flex-direction: row;
      align-items: center;

      svg {
        width: 2em;
        height: auto;
      }
    }

    .points:hover {
      color: #FCD116;

      span {
        color: white;
      }
    }


    .admin {
      cursor: pointer;
    }

    .admin:hover {
      color: #FCD116;
    }

    h2 {
      text-transform: capitalize;
    }
  }

}