header {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: smaller;
  background-color: #24488E;

  .search-cart {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    img {
      width: 5%;
      height: auto;
      margin-right: 10px;
    }

    input {
      width: 40%;
      padding: 1%;
      border: none;
      border-radius: 5px;
    }
  }

  div {
    display: flex;
    flex-direction: column;
  }

  .admin {
    cursor: pointer;
  }

  .admin:hover {
    color: rgb(209, 165, 82);
  }

  h2 {
    text-transform: capitalize;
  }
}