.login {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #24488E;
  width: 100vw;
  height: 100vh;

  .login-div {
    width: 45%;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      height: 100%;

      input {
        padding: 2%;
        margin-bottom: 5%;
        border: none;
        border-bottom: 1px solid #fff;
        font-size: 1em;
        font-weight: bold;
      }
    }

    .btns {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      button {
        border: none;
        border-radius: 5px;
        background-color: #fff;
        color: #24488E;
        font-size: 1em;
        font-weight: bold;
        cursor: pointer;
        margin-left: 2%;
      }
    }
  }

  .img-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
    background-image: url("./coin.svg");
    background-size:25rem;
    background-position: center;
    background-repeat: no-repeat;

    h1 {
      color: white;
      font-size: 5em;
      font-weight: bold;
    }
  }
}

header {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: smaller;
  background-color: #24488E;

  .search-cart {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .cart {
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;

      svg {
        width: 3em;
        height: auto;
        margin-right: 15%;
      }
    }

    .logout {
      cursor: pointer;
      width: 3em;
      height: auto;
    }

    img {
      width: 4em;
      height: auto;
    }

    input {
      width: 40%;
      padding: 1%;
      border: none;
      border-radius: 5px;
    }
  }

  .header-infos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .name {
      display: flex;
      flex-direction: row;
      align-items: center;

      svg {
        width: 2em;
        height: auto;
      }
    }

    .points {
      color: #FCD116;

      span {
        color: white;
      }
    }

    .admin {
      cursor: pointer;
    }

    h2 {
      text-transform: capitalize;
    }
  }
}

.products-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #FAFAFB;
  margin-top: 3%;

  .product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25em;
    height: 30em;
    margin-top: 2%;
    border-radius: 20px;
    background-color: white;
    border-bottom: 2px solid rgb(238, 238, 238);
    border-right: 2px solid rgb(238, 238, 238);

    img {
      width: 8em;
      height: auto;
      margin-top: 2%;
    }

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 5%;

      .price{
        padding: 0;
        margin: 0;
        color: #FCD116;
      }
    }

    input {
      width: 100%;
      height: auto;
      border-radius: 5px;
      margin-bottom: 2%;
      padding: 1%;
    }

    button {
      height: auto;
      border: none;
      background-color: green;
      color: white;
      padding: 1%;
      border-radius: 5px;
      cursor: pointer;
      font-weight: bolder;
    }
  }

  .product-card {
    img:hover {
      transition: all 0.2s ease-in-out;
      width: 10em;
      height: auto;
    }
  }
}